

body {
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url(../src/components/images/bg.jpg);
    font-family: 'Montserrat', sans-serif;
    margin: 50px ;
  }